.accordion-button::after {
  filter: invert(1); /* makes the arrow icon white */
}

.accordion-button:not(.collapsed) {
  background-color: #2c2c2c;
  box-shadow: none;
}

.accordion-body a:hover {
  background-color: #3a3a3a;
  border-radius: 5px;
}

.accordion-body {
  padding-right: 50px;
  transition: all 0.3s ease;
  margin-left: 0;
}

a.nav-link,
.accordion-body a {
  cursor: pointer;
  text-decoration: none;
}

a.nav-link:hover,
.accordion-body a:hover {
  text-decoration: underline;
}

.sidebar {
  box-shadow: 5px 0 10px rgba(255, 255, 255, 0.1); /* soft light shadow on right */
  z-index: 1030; /* stays on top */
}



