<div class="d-flex flex-column vh-100 bg-dark text-white p-3" style="width: 250px;">
    <h4 class="mb-4">HR Module</h4>
    
    <a routerLink="/dashboard" class="text-white mb-2 nav-link">Dashboard</a>
    <!-- <a routerLink="/login" class="text-white mb-2 nav-link">Login</a> -->

    <a routerLink="/employees" class="text-white mb-2 nav-link">Employee Master</a>
    <a routerLink="/timesheet" class="text-white mb-2 nav-link">Timesheet</a>
    <a routerLink="/attendance" class="text-white mb-2 nav-link">Attendance Report</a>
    <a routerLink="/reports" class="text-white mb-2 nav-link">Reports</a>
    <a routerLink="/settings" class="text-white mb-2 nav-link">Settings</a>
  </div>
  